/* Custom Fonts */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,700");

/* Variables */
:root {
  --primary: hsl(322, 100%, 66%);
  --neutral1: hsl(192, 100%, 9%);
  --neutral2: hsl(208, 11%, 55%);
}

body {
  font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

/* Helpers */
* {
  box-sizing: border-box;
}

.container {
  max-width: 1024px;
  margin: auto;
  padding: 1.2rem;
}

/* Header */
.brand {
  max-width: 8rem;
}

img {
  max-width: 100%;
  display: block;
  padding-top: 10px;
}

header.container {
  display: flex;
  justify-content: space-between;
}

/* Main */
main.container {
  margin-bottom: 8rem;
}

h1,
h2 {
  text-align: center;
  font-family: Poppins, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  margin-top: 6rem;
  color: var(--neutral1);
}

p {
  text-align: center;
  margin-bottom: 3rem;
  color: var(--neutral2);
}

#getStarted {
  margin: auto;
  display: none;
}

.img-container img {
  margin-bottom: 3rem;
}
.features {
  display: flex;
  margin-top: 7.5rem;
  margin-bottom: 15rem;
  flex-wrap: wrap;
}

.features-text {
  margin-top: 4rem;
}

.features-text p {
  text-align: left;
}

form {
  margin: 4rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#email {
  padding: 0.8rem;
  margin-bottom: 0.75rem;
  border: 1px solid transparent;
  box-shadow: 0.5px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.btn {
  display: block;
  border-radius: 5px;
  padding: 0.95rem;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}

.btn-outline {
  background-color: #fff;
  color: var(--primary);
  border: 1.5px solid var(--primary);
  padding: 0.75rem 1.25rem;
}

.btn-primary {
  background-color: var(--primary);
  border: 1px solid transparent;
  box-shadow: 0.5px 0.5px 10px rgba(0, 0, 0, 0.3);
  opacity: 0.8;
  transition: opacity 0.25s ease-in-out;
}

.btn-primary:hover {
  opacity: 1;
  transition: opacity 0.25s ease-in-out;
}

footer {
  padding: 1rem 2rem;
  background-color: var(--neutral1);
  color: #fff;
  background-image: url("../images/bg-footer-desktop.png");
  background-repeat: no-repeat;
  background-position-y: 100%;
  background-size: contain;
}

.f-subscribe {
  margin-left: 0;
  margin-right: 0;
}
.f-subscribe label {
  text-align: left;
  margin-bottom: 1rem;
}

.subs-field {
  display: flex;
}

#email {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin: 0;
  width: 300px;
}

.btn-arrow {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: var(--primary);
  page-break-after: auto;
  width: 60px;
}

.btn-arrow img {
  margin: auto;
  padding: 5px;
  margin-top: 10px;
}

.f-brand h2 {
  margin: 2rem 0;
  color: #fff;
  text-align: left;
  font-size: 2rem;
  padding: 0;
}

.f-brand p {
  text-align: left;
}

.f-social {
  display: flex;
  font-size: 2.5rem;
  margin: 3rem 0;
}

.f-social * {
  margin-right: 1.2rem;
}

.foot-menu ul {
  display: block;
  list-style-type: none;
  padding: 0;
  line-height: 3;
}

.f-copy {
  margin: 2rem auto 1.5rem auto;
  text-align: center;
  font-size: 0.85rem;
  color: var(--neutral2);
}

/* MEDIA QUERIES */

/* Medium to Large Screens */
@media (min-width: 930px) {
  /* Header  */
  .brand {
    max-width: 100%;
  }

  h1,
  h2 {
    font-size: 2.5rem;
  }
  p {
    font-size: 1.25rem;
  }

  /* Main */

  .features {
    justify-content: space-between;
  }

  .features .features-text {
    order: 1;
    max-width: 45%;
    margin: 0;
  }

  .features-text p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  .features .img-container {
    max-width: 45%;
    order: 2;
    align-self: center;
  }

  .features .img-container img {
    margin: 0;
  }

  #register {
    width: 35vw;
    font-size: 0.9rem;
    margin: auto;
  }

  /* Footer */

  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .foot-subs {
    order: 4;
    max-width: 25%;
  }
  .foot-brand {
    order: 1;
    max-width: 25%;
  }

  .menu-left {
    order: 2;
    max-width: 25%;
  }

  .menu-right {
    order: 3;
    max-width: 25%;
  }
}
